svg {
  fill: gray;
}

nav svg {
  fill: rgb(255, 255, 255);
}

body,
input[disabled] {
  color: #24292e;
}

body {
  background: #fff;

  /* System Fonts as used by GitHub */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  word-wrap: break-word;
}

nav {
  background-color: #24292e;
  padding: 1rem;
}

.deets div {
  margin-right: 1rem;
}

nav div:first-child {
  height: 2.5rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button,
input {
  background-color: transparent;
}

button {
  border: 0;
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
}

.deets span {
  margin-right: 4px;
}

figure img,
#avatar span,
#fake-menu,
input,
h3 {
  border: 1px solid #e1e4e8;
}

input[disabled] {
  border-radius: 4px;
  line-height: 20px;
  margin: 1rem 0;
  outline: none;
  padding: 4px 0.5rem;
  vertical-align: middle;
  width: 100%;
}

nav li,
nav button,
nav input {
  color: white;
}

nav li {
  border-top: 1px solid #444d56;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
}

label,
nav input {
  background: none;
}

label {
  border: 1px solid #444d56;
  border-radius: 0.5rem;
  margin: 0.75rem 0;
  padding: 0 0.5rem;
}

nav input {
  border: none;
  line-height: 1.5;
  min-height: 2rem;
  width: 80vw;
}

figure img,
#avatar span {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 1px;
}

nav input + img {
  left: 0.5rem;
  position: relative;
  top: 4px;
}

main {
  padding: 0 1rem;
}

figure {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 64px 1fr;
  margin: 0;
}

figcaption {
  padding: 4px 0;
}

p {
  line-height: 1.5;
}

figcaption h1,
h2,
h3 {
  margin: 0;
}

figcaption h1 {
  font-size: 2em;
  line-height: 1.25;
}

figcaption h2,
h3,
.deets > p {
  color: #586069;
}

figcaption h2 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 20px;
}

a {
  text-decoration: none;
}

h3 {
  border-radius: 2rem;
  font-size: 1em;
  font-weight: 500;
  padding: 1px 0.5rem;
}

.btn-star,
.color-circle {
  border: solid 1px rgba(27, 31, 35, 0.15);
}

.btn-star {
  background-color: #f3f4f6;
  border-radius: 4px;
  color: #24292e;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.5em;
  padding: 4px 1rem;
  white-space: nowrap;
  word-wrap: break-word;
}

.deets {
  margin-top: 1rem;
}

.deets > p {
  font-size: 0.8em;
  margin: 0;
}

.language-color {
  border-radius: 50%;
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
}

.language-name {
  font-size: 0.8em;
}

#avatar {
  position: relative;
}

#avatar span {
  background-color: #fff;
  height: 24px;
  left: 48px;
  position: absolute;
  top: 48px;
  width: 24px;
}

#fake-menu {
  margin: 0 -1rem;
}

#fake-menu li {
  /* Use padding to add the 'red line' border on 2nd 'li' */
  padding: 0.5rem 1.25rem;
  white-space: nowrap;
}

#fake-menu li:nth-child(2) {
  border-bottom: solid #f9826c 2px;
  outline: 1px dotted transparent;
  outline-offset: -1px;
}

#total-repos {
  background: rgba(209, 213, 218, 0.5);
  border: 1px solid transparent;
  border-radius: 2rem;
  font-size: 0.8em;
  margin-left: 0.5rem;
  min-width: 1.25rem;
  padding: 1px 0.5rem;
}

#total-public,
#repos > section {
  border-top: 1px solid #e1e4e8;
}

#total-public {
  margin-top: 0;
  padding-top: 1rem;
}

#repos p {
  margin-bottom: 0;
}

#repos section {
  margin: 0;
  padding: 1rem 0;
}

#repos h2 a {
  color: #0366d6;
  margin-right: 0.5rem;
}

/* Utility classes */
.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex-inline {
  display: inline-flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

/* https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader::before,
.loader::after {
  animation: loader 1s infinite ease-in-out;
  background: #000;
  height: 4rem;
  width: 1rem;
}
.loader {
  animation-delay: -0.16s;
  color: #000;
  margin: 5.5rem auto;
  position: relative;
  text-indent: -9999px;
  transform: translateZ(0);
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 0;
}
.loader::before {
  animation-delay: -0.32s;
  left: -1.5rem;
}
.loader::after {
  left: 1.5rem;
}

@keyframes loader {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4rem;
  }
  40% {
    box-shadow: 0 -2rem;
    height: 5rem;
  }
}

.is-hidden {
  display: none;
}

.is-shown {
  display: 100%;
}
