svg {
  fill: rgb(255, 255, 255);
}

/* System Fonts as used by GitHub */
body {
  background: #fff;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

nav {
  background-color: #24292e;
  padding: 1rem;
}

nav div:first-child {
  height: 2.5rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
}

nav li,
nav button,
input {
  color: white;
}

nav li,
nav button {
  font-weight: bold;
}

nav li {
  border-top: 1px solid #444d56;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
}

label,
input {
  background: none;
}

label {
  border: 1px solid #444d56;
  border-radius: 0.5rem;
  margin: 0.75rem 0;
  padding: 0 0.5rem;
}

input {
  border: none;
  line-height: 1.5;
  min-height: 2rem;
  width: 80vw;
}

img {
  height: auto;
  max-width: 100%;
}

input + img {
  left: 0.5rem;
  position: relative;
  top: 4px;
}

figure {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 64px 1fr;
  margin: 0 1rem;
}

figure img {
  border: solid thin #e1e4e8;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 1px;
}

figcaption {
  padding: 4px 0;
}

figcaption h1,
figcaption h2 {
  margin: 0;
}

figcaption h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.25;
}

figcaption h2 {
  color: #586069;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5rem;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.is-hidden {
  display: none;
}

.is-shown {
  display: 100%;
}
